{extend name="header" /}
{block name='title'}更新页{/block}
{block name='css'}
    {load href='/css/style.css'}
{/block}
{block name='place1'}<a href="#">轮播管理页</a>{/block}
    
{block name='content'}
    <div class="formbody">
        <div class="formtitle"><span>基本信息</span></div>
        <form action="{$action}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="db" value="shuffing" />
        {:isset($data)?'<input type="hidden" name="id" value="'.$data['id'].'" />':''}
        {:isset($data)?'<input type="hidden" name="oldpic" value="'.$data['picture'].'" />':''}
        <ul class="forminfo">
            <li><label>标题</label><input name="title" maxlength="30" type="text" class="dfinput" value="{:isset($data)?$data['title']:''}" /><i>标题不能超过30个字符</i></li>
            <li>{:isset($data)?'<label>图片</label><input name="file" type="file" class="dfinput" /><i>建议大小</i>':'<label><e>*</e> 图片</label><input name="file" type="file" class="dfinput" required="" /><i>必填项，建议大小</i>'}</li>
            <li><label>链接地址</label><input name="url" type="text" class="dfinput" value="{:isset($data)?$data['url']:''}" /><i>建议输入完整路径，如：https://www.baidu.com</i></li>
            <li><label>排序</label><input name="sort" type="number" class="dfinput" value="{:isset($data)?$data['sort']:'0'}" /></li>
            <li><label>显示位置</label>
                <select name="state" id="" class="dfinput">
                    <option value="0">商城</option>
                    <option value="1" {:isset($data['state'])&&$data['state']==1?'selected':''}>课程</option>
                </select>
            </li>
            <li><label>开始时间</label><input name="starttime" type="date" class="dfinput" value="{:isset($data)&&$data['starttime']>0?date('Y-m-d',$data['starttime']):''}" /></li>
            <li><label>结束时间</label><input name="endtime" type="date" class="dfinput" value="{:isset($data)&&$data['endtime']>0?date('Y-m-d',$data['endtime']):''}" /><i>默认没有时间限制</i></li>
            <li><label>是否启用</label><cite><input name="enabled" type="radio" value="1" checked="checked" />是&nbsp;&nbsp;&nbsp;&nbsp;<input name="enabled" type="radio" value="0" />否</cite></li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
        </ul>
        </form>
    </div>
{/block}