body{
    background: #f5f5f5;
}
.topicItem{
    width: 17.15rem;
}
.topicItem .publishTime{
    padding: 0.85rem 0 0.8rem;
}
.pubCont{
    justify-content: flex-start;
}
.pubCont .info{
    width: 12.35rem;
}
.pubCont .picture{
    width:4rem;
    height:4rem;
    border-radius: 0.1rem ; 
    margin-right: 0.75rem;
    overflow: hidden;
    background: #e5e5e5;
}
.topicList{
    min-height: 100%;
    position: absolute;
    top: 0;
    margin-top: 2rem;
    width: 17.15rem;
    overflow: hidden;
    z-index: 1;
}
.pubCont .title{
    color:rgba(11,11,11,1);
    line-height:1.1rem;
}
.pubCont .descrip{
    color:rgba(52,52,52,1);
    line-height:1.2rem;
}
.corp_buttom{
    padding: 0.8rem 0;
}
.corp_buttom .item{
    padding-right: 0.8rem;
}
.corp_buttom .item .icon{
    margin-right: 0.2rem;
    width: 1rem;
    height: 0.95rem;
}
.icon_commet {
    background-position: -5.9rem 0;
}
.icon_support {
    background-position: -8.73rem 0;
}
.icon_collect {
    width: 1rem;
    height: 1rem;
    background: url('../images/collect_1.png') no-repeat center;
    background-size: 0.95rem 0.95rem;
}
.collect.checked .icon_collect{
    background: url('../images/collect_2.png') no-repeat center;
    background-size: 0.95rem 0.95rem;
}
.deleteBtn {
    width: 3.2rem;
    bottom: 0;
    right: -0.8rem;
    height: 6.5rem;
    line-height: 6.5rem;
}
.scrollBoxWarp{

}
.scrollBox{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 18rem;
    z-index: 10;
}
.noTips{
    position: relative;
    margin-top: 50%;
    /*transform: translateY(-50%);
    -webkit-transform: translateY(-50%);*/
}
.noTips img{
    display: block;
    margin: 0 auto;
    width: 3.8rem;
}
.noTips p{
    font-size: 0.6rem;
    color: #838383;
    padding: 1rem 0 1.8rem;
}
.myfocus img{
    width: 5.1rem;
    margin-bottom: 0.3rem;
}   
.mytopic a{
    display: block;
    width:9.6rem;
    line-height:2rem;
    height:2rem;
    background:rgba(255,255,255,1);
    border-radius: 0.1rem ; 
    margin: 0 auto;
}