<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- Mobile Devices Support @begin -->
        <meta name="referrer" content="always">
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta name="referrer" content="always">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <title>{$topic['title']}</title>
        <link rel="stylesheet" type="text/css" href="/bbs/css/base.css?_t=20171031">
        <script src="/js/jquery.min.js"></script>
        <script>
            var g_rem = 20;
            (function (doc, win) {
                var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth){
                            clientWidth = 375;
                        }
                        clientWidth = clientWidth > 640 ? 640 : clientWidth;
                        g_rem = 20 * (clientWidth / 375);
                        docEl.style.fontSize =  g_rem + 'px';
                    };

                if (!doc.addEventListener) return;
                win.addEventListener(resizeEvt, recalc, false);
                doc.addEventListener('DOMContentLoaded', recalc, false);
            })(document, window);
            var _web_base="http://t.flowerplus.cn/".replace(/^https?:/,window.location.protocol);
            document.domain="flowerplus.cn";
        </script>
        <link rel="stylesheet" type="text/css" href="/bbs/css/index.css?_t=20171101">
        <link rel="stylesheet" type="text/css" href="/bbs/css/topic_detail.css?_t=20171101">
    </head>
    <body>
        <div class="topPanel bgWhite" data-cid="2" data-id="30" >
            <div class="banner"><img src="/images/topic/{$topic['picture']}"> </div>
            <div class="pad16 descrip">
                <div class="title f16 borderBottom">{$topic['desc']}</div>
                <div class="attention flex mainColor2">
                    <div class="">
                        <span id="totalPost">{$topic['reviews']}</span>个帖子，已有<span id="totalFocus">{$topic['attention']}</span>人关注
                    </div>
                    <div id="attentionBtn" class="tc f12 rlt "><span class="addIcon inline "></span><span class="txt">关注</span></div>
                </div>
            </div>
        </div>
        <div class="pad16 f16 newTitle">最新</div>
        <div class="newTopicCont">
            <?php if (isset($review)) { ?>
            <?php foreach ($review as $rv) { ?>
                <div class="bgWhite topicList">
                    <div class="authorRow clearfix">
                        <div class="headImg fl"><img src="{$rv['usersid']['picture']?$rv['usersid']['picture']:'/bbs/images/logo.png'}"></div>
                        <div class="authorInfo">
                            <div class="author">{$rv['usersid']['username']?$rv['usersid']['username']:'花加'}</div>
                            <div class="publishTime f10 color_9b">{$rv['addtime']}</div>
                        </div>
                    </div>
                    <a href="detail.html?id={$rv['id']}">
                    <div class="toppicCont">{$rv['descri']}</div>
                    </a>
                    <div class="toppicPic flex">
                        <div class="inline imgList">
                            {$rv['picture']}
                        </div>
                    </div>
                    <div class="corp_row flex">
                        <a href="detail.html?id={$rv['id']}">
                        <div class="btn commitBtn">
                            <span class="icon icon_commit"></span>
                            <span class="num inline">{$rv['ans']==0?'评论':$rv['ans']}</span>
                        </div>
                        </a>
                        <div class="btn supportBtn">
                            <span class="icon icon_support"></span>
                            <span class="num inline">{$rv['likes']}</span>
                        </div>
                    </div>
                </div>
            <?php }} else { ?>
            <div style="width:100%;text-align: center">
                <span class="inline color_9b">空空如也</span>
            </div>
            <?php } ?>
        </div>
        <div class="postingIcon"></div>
    </body>
</html>
<script>
    var page = 1;
    $(window).scroll(function(){
    　　var scrollTop = $(this).scrollTop();
    　　var scrollHeight = $(document).height();
    　　var windowHeight = $(this).height();
    　　if(scrollTop + windowHeight == scrollHeight){
            searchProductClassbyName(page);
    　　}
    });

    function searchProductClassbyName(page,serach=''){
        var topid = $('#topid').val();
        $.post('reviewdata2',{page:page,sera:serach,topid:topid},function(res){
            if (page == 0) {
                $('.newTopicCont').html(res);
                window.page=1;
            } else {
                if (res != '') {
                    $('.newTopicCont').append(res);
                    window.page=page+1;
                }            
            }
        })
    }
</script>