/*
* @Author: yy
* @Date:   2017-05-08 11:48:17
* @Last Modified by:   yy
* @Last Modified time: 2017-07-13 11:24:51
*/
.coupon_out{
	padding:15px;
}
.coupon{
	width:100%;
	padding:22px 0;
	background:#fff url(/Static/img/new_2017/e33.jpg) repeat-y;
	border-left:4px solid #FD567C;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04);
	border-radius: 2px;
    position:relative;
    overflow:hidden;
    align-items:center;
    -webkit-align-items:center;
    margin-bottom:15px;
}
.coupon .cut{
	position:absolute;
	width:1px;
	top:0;
	bottom:0;
	border: 1px dashed #F5F5F5;
}
.coupon .cut:after{
	position:absolute;
	content:'';
	width:15px;
	height:15px;
	border-radius:50%;
	background:#F5F5F5;;
	top:-7.5px;
	left:-7.5px
}
.coupon .cut:before{
	position:absolute;
	content:'';
	width:15px;
	height:15px;
	border-radius:50%;
	background:#F5F5F5;;
	bottom:-7.5px;
	left:-7.5px
}
.coupon .coupon_l{
	font-size: 24px;
	color: #FD567C;
	padding:0 20px;
}
.coupon .coupon_r{
	padding-left:20px;
	color: #231916;
	padding-right:50px
}
.coupon_r_con{
	position:relative;
	padding-left:6px;
}
.coupon_r_con:after{
	content:'';
	position: absolute;
	width:3px;
	height:3px;
	background: #999999;
	margin-top:6px;
	border-radius:50%;
	left:0%;
	top:0%;
}