{extend name="header" /}
{block name='title'}文章分类页{/block}
{block name='css'}
    {load href='/css/style.css'}
    {load href='/styles/general.css'}
    {load href='/styles/main.css'}
    {load href='/js/jquery.min.js'}
{/block}
{block name='style'}
<style>
td span {
  display: inline-block;
}
.tools {
  height: 10px;
}
img[id=icon_0_1]{
  cursor: pointer;
}
</style>
{/block}
{block name='place1'}<a href="#">文章管理</a>{/block}
{block name='place2'}文章分类{/block}
{block name='place3'}<span style="float:right;margin-right: 10px;"><a href="newstypeadd.html">添加分类</a></span>{/block}
    
{block name='content'}
<div class="tools"></div>
<!-- start ad position list -->
<div class="list-div" id="listDiv">

<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
  <tr>
    <th>分类名称</th>
    <th>图片</th>
    <th>添加时间</th>
    <th>排序</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  <?php if(isset($data[0])){
    foreach($data[0] as $v){ ?>
  <tr align="center" class="0" id="0_1" style="background-color:#f00;">
    <td align="left" class="first-cell" >
        <img src="/styles/img/menu_minus.gif" id="icon_0_1" width="9" height="9" border="0" style="margin-left:0em" onclick="rowClicked(this)" />
        <span><a href="newstypeedit.html?id={$v['id']}">{$v['typename']}</a></span>
    </td>
    <td width="10%" style="padding-top: 10px;"><img src="/images/news_type/{$v['picture']}" width="20px" height="20px" /></td>
    <td>{$v['addtime']}</td>
    <td>{$v['sort']}</td>
    <td>{$v['status']}</td>
    <td width="24%" align="center">
      <a href="newstypeedit.html?id={$v['id']}">编辑</a> |
      <a href="javascript:;" onclick="if(confirm('分类下有内容会导致删除失败，请确认是空分类')){location.href='newstypedel.html?id={$v['id']}'}">删除</a>
    </td>
  </tr>
  <?php if(isset($data[$v['id']])){
    foreach($data[$v['id']] as $vv){ ?>
  <tr align="center" class="1" id="1_4">
    <td align="left" class="first-cell" >
        <img src="/styles/img/menu_minus.gif" id="icon_1_4" width="9" height="9" border="0" style="margin-left:1em" onclick="rowClicked(this)" />
        <span><a href="goods.php?act=list&cat_id=4">{$vv['typename']}</a></span>
    </td>
    <td width="10%" style="padding-top: 10px;"><img src="/images/news_type/{$vv['picture']}" width="20px" height="20px"/></td>
    <td>{$vv['addtime']}</td>
    <td>{$vv['sort']}</td>
    <td>{$vv['status']}</td>
    <td width="24%" align="center">
      <a href="newstypeedit.html?id={$vv['id']}">编辑</a> |
      <a href="javascript:;" onclick="if(confirm('分类下有内容会导致删除失败，请确认是空分类')){location.href='newstypedel.html?id={$vv['id']}'}">删除</a>
    </td>
  </tr>
  <?php }}}} ?>
  </table>
</div>
{/block}

{block name='js'}
<script language="JavaScript">
  var imgPlus = new Image();
  imgPlus.src = "/styles/img/menu_plus.gif";
  /**
   * 折叠分类列表
   */
  function rowClicked(obj)
  {
    var Browser=new Object();
    // 当前图像
    img = obj;
    // 取得上二级tr>td>img对象
    obj = obj.parentNode.parentNode;
    // 整个分类列表表格
    var tbl = document.getElementById("list-table");
    // 当前分类级别
    var lvl = parseInt(obj.className);
    // 是否找到元素
    var fnd = false;
    var sub_display = img.src.indexOf('menu_minus.gif') > 0 ? 'none' : (Browser.isIE) ? 'block' : 'table-row' ;
    // 遍历所有的分类
    for (i = 0; i < tbl.rows.length; i++)
    {
        var row = tbl.rows[i];
        if (row == obj)
        {
            // 找到当前行
            fnd = true;
            //document.getElementById('result').innerHTML += 'Find row at ' + i +"<br/>";
        }
        else
        {
            if (fnd == true)
            {
                var cur = parseInt(row.className);
                var icon = 'icon_' + row.id;
                if (cur > lvl)
                {
                    row.style.display = sub_display;
                    if (sub_display != 'none')
                    {
                        var iconimg = document.getElementById(icon);
                        iconimg.src = iconimg.src.replace('plus.gif', 'minus.gif');
                    }
                }
                else
                {
                    fnd = false;
                    break;
                }
            }
        }
    }

    for (i = 0; i < obj.cells[0].childNodes.length; i++)
    {
        var imgObj = obj.cells[0].childNodes[i];
        if (imgObj.tagName == "IMG" && imgObj.src != '/styles/img/menu_arrow.gif')
        {
            imgObj.src = (imgObj.src == imgPlus.src) ? '/styles/img/menu_minus.gif' : imgPlus.src;
        }
    }
  }

  $('.list-div td').mouseover(function(){
    $(this).css('background','#c5c5c5');
    $(this).siblings('td').css('background','#c5c5c5');
  }).mouseout(function(){
    $(this).css('background','#fff');
    $(this).siblings('td').css('background','#fff');
  })
</script>
{/block}