{extend name="header" /}
{block name='title'}文章修改页{/block}
{block name='style'}
<style>
.edui-default .edui-editor-breadcrumb span{ display: inline; }
</style>
{/block}
{block name='css'}
    {load href='/css/style.css'}
    {load href='/ueditor/ueditor.config.js'}
    {load href='/ueditor/ueditor.all.min.js'}
    {load href='/ueditor/lang/zh-cn/zh-cn.js'}
{/block}
{block name='place1'}<a href="#">文章管理</a>{/block}
{block name='place2'}文章修改{/block}
    
{block name='content'}
    <div class="formbody">
        <div class="formtitle"><span>基本信息</span></div>
        <form action="update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="db" value="news">
        <input type="hidden" name="id" value="{$data['id']}">
        <input type="hidden" name="oldpic" value="{$data['picture']}">
        <ul class="forminfo">
            <li><label>文章标题</label><input name="title" type="text" class="dfinput" maxlength="30" value="{$data['title']}" /><i>标题不能超过30个字符</i></li>
            <li><label>图片</label><input name="file" type="file" class="dfinput" /><i>建议图片比例</i></li>
            <li><label>文章分类</label>
                <select name="typeid" id="" class="dfinput">
                    <option value="0">顶级</option>
                    <?php
                    if (isset($parth[0])) {
                    foreach($parth[0] as $v){
                        echo '<option value="'.$v['id'].'" >'.$v['typename'].'</option>';
                        if(isset($parth[$v['id']])){
                        foreach($parth[$v['id']] as $vv){
                         echo '<option value="'.$vv['id'].'" > |----'.$vv['typename'].'</option>';
                        }}
                    }} ?>
                </select>
            </li>
            <li><label>作者</label><input name="author" type="text" class="dfinput" maxlength="30" value="{$data['author']}" /></li>
            <li><label>简述</label><input name="descri" type="text" class="dfinput" value="{$data['descri']}"/></li>
            <li><label>排序</label><input name="sort" type="number" class="dfinput" value="{$data['sort']}"/></li>
            <li><label>内容</label></li>
            <li><label></label><script id="editor" name="content" type="text/plain" style="width:800px;height:300px;" value="{$data['content']}"></script></li>
            <li><label>状态</label>
                <select name="status" id="" class="dfinput">
                    <option value="1">正常</option>
                    <option value="0" {:$data['status']==0?'selected':''}>禁用</option>
                </select>
            </li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
        </ul>
        </form>
    </div>
{/block}

{block name='js'}
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');


    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }
</script>
{/block}